@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --light-shade: #EAD1D1;
    --light-accent: #956883;
    --main-color: #8E2B4E;
    --dark-accent: #622542;
    --dark-shade: #2D1130;
}

body {
    margin: 0;
    background-color: var(--light-shade);
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--dark-shade);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    color: var(--light-shade);
}

h1 {
    font-family: 'Roboto Slab', serif;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

nav li {
    padding: 10px 20px 5px 20px;
    background-color: var(--light-accent);
    border-radius: 5px 5px 0 0;
}

nav li.current-tab {
    background-color: var(--light-shade);
    font-weight: 700;
}

nav li.current-tab a {
    color: var(--main-color);
}

nav li:hover:not(.current-tab) {
    background-color: var(--dark-accent);
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: white;
}

main ~ footer {
    background-color: var(--dark-accent);
    color: var(--light-shade);
    text-align: center;
}